a{
    text-decoration: none;
}
.bread-crumbs{
    margin: 0 auto;
}
.bread-crumbs ul{
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #D8D8D8;
    margin-left: 10px;
}
.bread-crumbs li{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    margin-right: 30px;
}
.bread-crumbs a:nth-child(1){
    color: #ADADAD;
}
.bread-crumbs li span{
    width: 6px;
    height: 6px;
    border-right: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8;
}
.arrow{
    display: block;
    transform: rotate(45deg);
    margin-left: 10px;
}