.goods-header{
    padding: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    background: #fff;
    z-index: 10;
    margin: 0 0 50px 0;
    box-sizing: border-box;
}
.title-side{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
#find-models{
    font-size: 12px;
    color: #bfbfbf;
    margin-bottom: 15px;
}
.main-goods-title{
    font-size: 28px;
    font-weight: 500;
    color:  #4b4b4b;
    margin-right: 10px;
    text-transform: uppercase;
}


.dropdown-icon{
    position: absolute;
    left: 5px;
    width: 12px;
    height: 10px;
}

.dropdown-icon span:nth-child(1){
    position: absolute;
    width: 100%;
    height: 2px;
    background: #979797;
    top: 0;
    left: 0;
}
.dropdown-icon span:nth-child(2){
    position: absolute;
    width: 75%;
    height: 2px;
    background: #979797;
    top: 50%;
    left: 0;
}.dropdown-icon span:nth-child(3){
    position: absolute;
    width: 50%;
    height: 2px;
    background: #979797;
    top: 100%;
    left: 0;
}
.arrow-down{
    position: absolute;
    right: 8px;
    width: 5px;
    height: 5px;
    border-left: 1px solid #979797;
    border-bottom: 1px solid #979797;
    transform: rotate(-45deg);
}
.wrapper-for-select{
    position: relative;
    display: flex;
    align-items: center;
    width: 140px;
    height: 25px;
    border: none;
    overflow: hidden;
    cursor: pointer;
}
.wrapper-for-select select{
    position: absolute;
    left: 14px;
    width: 140px;
    height: 100%;
    border: none;
    outline: none;
    background: #fff;
}
.rating{
    display: flex;
    align-items: center;
}
.filter-button{
    display: flex;
    align-items: center;
    position: relative;
    width: 10px;
    height: 12px;
    margin: 0 0 0 10px;
    cursor: pointer;
}
.filter-button span{
    font-size: 14px;
    color: #4b4b4b;
}
.filter-button img{
    width: 12px;
    height: auto;
}




.wrapper-for-goods-and-aside{
    display: flex;
    position: relative;
}
aside{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -350%);
    width: 85vw;
    height: 80vh;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 35px -19px;
    border-radius: 3px;
    transition: .2s ease-in-out;
}
.active-aside{
    z-index: 5;
    width: 85vw;
    transform: translate(-50%, -50%);

}
.bacgraund{
    background: #fff;
}
.wrapper-for-goods{
    // width: 70%;
    display: flex;
    flex-wrap: wrap;
}
.goods-item{
    margin: 15px auto;
    position: relative;
    width: 255px;
    height: 340px;
}
.goods-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    z-index: 2;
}
.goods-image a{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}
.goods-image img{
    width: 100%;
    height: auto;
}
.item-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25%;
    box-sizing: border-box;
    border: 1px solid #F3F3F3;
    border-top: none;
    padding: 0 0 0 10px;
}
.fond{
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    width: 100%;
    height: 100%;
}
.goods-price{
    display: flex;
}
.goods-price-value{
    font-size: 20px;
    font-weight: 700;
}
.goods-price-currency{
    font-size: 11px;
    font-weight: 700;
}
.goods-format{
    font-size: 13px;
    color: #949494;
}

#show-more-goods{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.show-more-title{
    font-size: 15px;
    color: #000;
}
#show-more-item{
    font-size: 15px;
    color: #000;
    font-weight: 700;
}
.sorting{
    height: 80vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
.selected-sort{
    width: 100%;
    padding: 20px 0;
}
.selected-sort div{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    height: 37px;
    min-width: 180px;
    max-width: 215px;
    background: #7B90A8;
    border-radius: 22px;
    opacity: 0.78;
    border: 1px solid #FFFFFF;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0 auto;
    box-sizing: border-box;
}
.delete-selected-sort-item{
    display: block;
    width: 16px;
    height: 16px;
    position: relative;
}
.delete-selected-sort-item:before{
    content: '';
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    width: 100%;
    height: 1px;
    background: #fff;
}
.delete-selected-sort-item::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    width: 100%;
    height: 1px;
    background: #fff;
}

.set-price-range-title{
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid #F2F2F2;
    border-top: 1px solid #F2F2F2;
    padding: 0px 10px;
    box-sizing: border-box;
}
.range-title-h3{
    font-size: 14px;
    color: #4b4b4b;
    font-weight: 600;
}
.pointer{
    width: 5px;
    height: 5px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    transform: rotate(-45deg);
    transition: .1s ease-in-out;
}

.sorting-price{
    display: flex;
    height: 0px;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    transition: .1s ease-in-out;
}
.for-input-price-range{
    padding: 0 10px;
}
.for-input-price-range form{
    display: flex;
    height: 55px;
    justify-content: space-between;
}

.min-price{
    border: 1px solid #DBDBDB;
    width: 30%;
    overflow: hidden;
}
#min-price{
    padding: 0 0 0 10px;
    border: none;
    width: 110%;
    height: 100%;
    outline: none;
}
.max-price{
    border: 1px solid #DBDBDB;
    width: 30%;
    overflow: hidden;
}
#max-price{
    padding: 0 0 0 10px;
    border: none;
    width: 110%;
    height: 100%;
    outline: none;
}
.for-input-price-range button{
    width: 30%;
    background-image: linear-gradient(90deg, #7CB4FF 0%, #6BAEFF 96%, #4094FF 100%); 
    border-radius: 2px;
    border: none;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0;
    outline: none;
}
#price-range{
    padding: 0;
    width: 100%;
}
.range-price{
    position: relative;
    width: 100%;
    padding: 30px 30px 30px 20px;
    box-sizing: border-box;
}
.range-price .noUi-target{
    height: 2px;
    border: none;
}
.range-price .noUi-connect{
    color: #7DBE77;
}
.range-price .noUi-horizontal .noUi-handle{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: -9px;
    outline: none;
    border: none;
    background-image: linear-gradient(90deg, #7DBE77 0%, #B4D980 95%);
}
.range-price .noUi-horizontal .noUi-handle::before,
.range-price .noUi-horizontal .noUi-handle::after{
    content: '';
    display: none;
}

.set-formats-title{
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid #F2F2F2;
    border-top: 1px solid #F2F2F2;
    padding: 0px 10px;
    box-sizing: border-box;
}
.sorting-formats{
    width: 100%;
    height: 0px;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
    transition: .1s ease-in-out;
}

.formats-item{
    margin: 25px 0;
}
.sorting-formats label{
    font-size: 14px;
    color: #4b4b4b;
}
.set-rating-title{
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid #F2F2F2;
    border-top: 1px solid #F2F2F2;
    padding: 0px 10px;
    box-sizing: border-box;
}
.sort-rating{
    width: 100%;
    height: 0px;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
    transition: .1s ease-in-out;
}
.sort-rating-item{
    margin: 20px 0;
}

.set-artist-title{
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid #F2F2F2;
    border-top: 1px solid #F2F2F2;
    padding: 0px 10px;
    box-sizing: border-box;
}
.sort-artist{
    width: 100%;
    height: 0px;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
    transition: .1s ease-in-out;
}
.artist-item label{
    font-size: 14px;
    color: #4b4b4b;
}
.artist-item{
    margin: 25px 0;
}
#sort-block .sort-block-active{
    height: auto;
}
.pointer-range{
    transform: rotate(-225deg);
}


// next
.pages-button{
    margin: 50px 0;
}
.pages-button ul{
    display: flex;
    justify-content: center;
}
.pages-button li{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid #F3F3F3;
    margin: 10px 5px;
    box-sizing: content-box;
    cursor: pointer;
}
.pages-button li:hover{
    box-shadow: 0px 0px 10px -4px;
}
.pages-button li:first-child::before{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(225deg);
    width: 10px;
    height: 10px;
    border-right: 1px solid #ADADAD;
    border-top: 1px solid #ADADAD;
}
.pages-button li:last-child::before{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 10px;
    height: 10px;
    border-right: 1px solid #ADADAD;
    border-top: 1px solid #ADADAD;
}
.pages-button li a{
    color: #4B4B4B;
    font-size: 14px;
    
}
.pages-button .active-page{
    border: 1px solid #3462D6;
}
.pages-button .active-link{
    color: #3462D6;
}


.by-goods{
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    background: #fff;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: translateY(-100%);
    height: 25%;
    box-sizing: border-box;
    border: 1px solid #F3F3F3;
    border-top: none;
    padding: 5px;
    transition: .1s ease-in-out;
}

.by-goods-visible{
    transform: translateY(0);
}
.rate{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rate p{
    font-size: 14px;
    margin: 10px  0 0 0;
    color: #949494;
}
.download{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.download p{
    font-size: 14px;
    margin: 10px  0 0 0;
    color: #949494;
}
.add-to-cart{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg, #FFF14B 0%, #F5DC26 100%, #F5DC26 100%);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
}
.add-to-cart:hover{
    box-shadow: 0px 0px 17px -9px;
}
.add-to-cart p{
    font-size: 14px;
    margin: 10px  0 0 0;
    color: #949494;
}


// rate star
#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
    background: url('../img/Star.png') no-repeat;
}

#reviewStars-input {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
#reviewStars-input input {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    z-index: 0;
}
#reviewStars-input input:checked ~ label {
    background-position: 0 -12px;
    height: 12px;
    width: 12px;
}
#reviewStars-input label {
    background-position: 0 0;
    height: 12px;
    width: 12px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    cursor: pointer;
    margin-right: 4px;
    position: relative;
    z-index: 1;
}

#reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
    background-position: 0 -12px;
    height: 12px;
    width: 12px;
}

#reviewStars-input #star-0 {
    left: 0px;
}
#reviewStars-input #star-1 {
    left: 12px;
}
#reviewStars-input #star-2 {
    left: 24px;
}
#reviewStars-input #star-3 {
    left: 36px;
}
#reviewStars-input #star-4 {
    left: 48px;
}
#reviewStars-input #star-5 {
    left: 60px;
}


@media (min-width: 768px) {
    .wrapper,
    .wrapper-for-goods-and-aside{
        width: 768px;
        margin: 0 auto;
    }
    .goods-header{
    justify-content:  space-between;
    flex-direction: row;
    align-items: baseline;
    }
    .wrapper{
        padding: 0 5px;
    }
    .wrapper-for-goods-and-aside{
        justify-content: space-around;
    }
    .title-side{
        flex-direction: row;
    }    
    aside{
        position: relative;
        width: 25%;
        left: 0;
        top: 0;
        transform: translate(0,0);
        width: 25%;
    }
    aside .close-button{
        display: none;
    }
    .wrapper-for-goods{
        width: 70%;
    }
    .goods-item{
        width: 255px;
        height: 340px;
    }
    .filter-button{
        display: none;
    }
    .pages-button li{
        width: 40px;
        height: 40px;
    }
}
@media (min-width: 1024px) {
    .wrapper,
    .wrapper-for-goods-and-aside{
        width: 1024px;
    }
    .goods-item{
        width: 30%;
        height: 288px;
    }
    #reviewStars-input label{
        margin-right: 2px;
    }

}
@media (min-width: 1200px) {
    .wrapper,
    .wrapper-for-goods-and-aside{
        width: 1200px;
    }
    .goods-item{
        width: 255px;
        height: 340px;
    }
}