body{
    font-family: 'Open Sans', sans-serif;
}
header{
    background: #2B55CD;
}
.wrapper-for-header-category{
    position: relative;
    margin: 0 auto;
}
nav{
    height: 55px;
    margin: 0 auto;
    position: relative;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
nav a{
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}
ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
}
.navigation{
    display: flex;
}
.nav-item{
    box-sizing: content-box;
    font-size: 13px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 4px;

}
.left-side .nav-item{
    margin-right: 10px;
}
.right-side .nav-item{
    margin-left: 10px;
}
.left-side .nav-item:nth-child(1){
    font-weight: 600;
}
.left-side .nav-item:nth-child(2) a{
    color: rgb(122, 165, 255);
}
.left-side .nav-item:nth-child(2){
    display: none;
}
.left-side .nav-item:nth-child(3) {
    width: 95px;
    height: 30px;
    font-weight: 100;
    background: linear-gradient(to left, #4275e3, #5885fa);
    border-radius: 4px;
    padding: 0 0 0 10px;
    box-shadow: 0px 0px 25px -10px;
    transition: .1s ease-in-out;
}
.left-side .nav-item:nth-child(3) a img{
    padding: 0 5px  0 0;
}
.right-side img{
    width: auto;
    height: 12px;
    margin-right: 5px;
}
.right-side .nav-item:nth-child(3) a img,
.right-side .nav-item:nth-child(4) a img{
    padding: 0 5px  0 0;
}
.left-side .nav-item:nth-child(3):hover{
    box-shadow: 0px 0px 25px -6px;

}
.left-side .nav-item:nth-child(2)::after,
.left-side .nav-item:nth-child(3)::after{
    content: '';
    position: relative;
    left: 7px;
    top: -1px;
    display: inline-block;
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    border-right: 1px solid rgb(122, 165, 255);
    border-bottom: 1px solid rgb(122, 165, 255);
    transition: .2s ease-in-out;
}
.after-active{
    transform: rotate(-135deg);
}

.sub-navigation{
    display: none;
    position: absolute;
    bottom: -30px;
}
.left-side .nav-item:hover .sub-navigation{
    display: block;
}
#header-search{
    position: relative;
}
#header-search input{
    background: transparent;
    border: 1px solid #4570E0;
    border-radius: 20px;
    height: 30px;
    padding: 0 0 0 15px;
    outline: none;
    color: #fff;
    font-weight: 100;
}
#header-search input::-webkit-input-placeholder{
    color: #fff;
    font-weight: 100;
}
#header-search input:focus::-webkit-input-placeholder {
    color: transparent;
}
.search-img{
    position: absolute;
    right: 14px;
    width: 17px;
    height: 17px;
}


.hamburger{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    margin-right: 10px;
}
.hamburger-item{
    position: absolute;
    width: 24px;
    margin: 0 3px;
    height: 2px;
    background: #fff;
    box-shadow: 0px 0px 23px 0px;
    transition: .2s ease-in-out;
}
.hamburger-item:nth-child(1){
    top: 7px;
}
.hamburger-item:nth-child(2){
    top: 14px;
}
.hamburger-item:nth-child(3){
    top: 21px;
}
.hamburger-item-active:nth-child(1){
    top: 15px;
    transform: rotate(45deg);
}
.hamburger-item-active:nth-child(2){
    display: none;
}
.hamburger-item-active:nth-child(3){
    top: 15px;
    transform: rotate(-45deg);
}
.background{
    width: 100%;
    height: auto;
    position: relative;
    top: -55px;
}

.category-block-header{
    position: absolute;
    margin: 0 auto;
    padding: 3px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    background: #fff;
    box-shadow: 0 0 15px -6px;
    border-radius: 3px;
    margin-left: 5%;
    z-index: 2;
    transform: translateY(-450%);
    transition: .3s ease-in-out;
    z-index: 10;
}
.category-item{
    position: relative;
    width: 20%;
    // height: 100px;
    padding: 10px;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 5px;
    background: transparent;
    transition: .1s ease-in-out;
}
.category-item:hover{
    background: linear-gradient(to left, #4275e3, #5885fa);
    box-shadow: 0 0 15px -3px;

}
.category-item:hover p{
    color: #fff;
}
.category-item div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}
.category-item img{
    width: 100%;
    max-width: 150px;
    height: auto;
}
.category-item a{
    text-align: center;
    text-decoration: none;
}
.category-item p{
    position: absolute;
    font-size: 10px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    padding-bottom: 5px;
    margin: 0;
    color: black;
}
.category-block-active{
    transform: translateY(10px);
}

//log-in

.shade{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.41);
    z-index: 5;
    transition: .2s ease-in-out;
    display: none;
}
.active-shade{
    display: block;
}
.log-in{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index: 10;
    width: 300px;
    height: 500px;
    display: none;
    box-shadow: 0px 0px 20px -8px;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    z-index: 10;
}
.close-button{
    position: absolute;
    cursor: pointer;
    top: -25px;
    right: -25px;
    width: 25px;
    height: 25px;
}
.close-button span:nth-child(1){
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    height: 1px;
    background: #fff;
    transform: rotate(45deg);
}
.close-button span:nth-child(2){
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    height: 1px;
    background: #fff;
    transform: rotate(-45deg);
}
.log-in-active{
    display: flex;
}

.navigation-button{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
}
.log-in-block, .registration-block{
    position: absolute;
    // flex-direction: column;
    display: none;
    justify-content: center;
    align-items: center;
    top: 15%;
    left: 0;
    width: 100%;
    height: 70%;
}
.activ-log-in-block{
    display: flex;
}
.log-in-block form, .registration-block form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 100%;
}
.input-style {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.input-style input{
    // width: 100%;
    font-weight: 100;
    height: 30px;
    border: 1px solid #EDEDED;
    border-radius: 4px;
}
.input-style input::-webkit-input-placeholder {
    color:#4B4B4B;
    font-weight: 100;
    text-align: left;
}
.input-style input:focus::-webkit-input-placeholder {
    color: transparent;
}
.input-style img{
    width: 16px;
    height: auto;
    padding: 0 0 0 5px;
}
.input-style .eror-title{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 10px 0;
}
.error-email, .error-password{
    color: #EE5F6F;
    align-items: center;
    display: none;
}
.eror-active{
    display: flex;
}

.log-in-button, .registration-button{
    background: #F4F6FA;
    color: #4c4c4c;
    font-weight: 100;
    outline: none;
    border: none;
    width: 50%;
    height: 100%;
    transition: .1s ease-in-out;
}
.active-button{
    background: #fff;
    color: #4b4b4b;
    font-weight: normal;
}

.social-link-log-in{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
}
.social-link-log-in img{
    width: 30px;
    height: 30px;
    padding: 0 0 0 10px;
}
.forgot-password{
    display: flex;
    justify-content: flex-end;
}
.forgot-password a{
    padding: 10px 0 0 0;
    cursor: pointer;
    color: #4275e3;
    font-size: 12px;
}
.log-in-block button, .registration-block button,
.restoring-password button{
    width: 90%;
    height: 35px;
    border: none;
    border-radius: 20px;
    background: #FCEB41;
    color: #3F3A10;
    font-weight: 100;
    outline: none;
}
.log-in-block button:hover, .registration-block button:hover,
.restoring-password button:hover{
    box-shadow: 0px 0px 20px -8px;
}
.input-checkbox{
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.conditions{
    padding: 0 0 0 10px;
    font-size: 12px;
}
.input-checkbox a{
    color: #4275e3;
}
.restoring-password{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    background: #fff;
    z-index: 1;
}
.restoring-active{
    display: flex;
}
.restoring-block{
    width: 90%;
    height: 70%;
}
.restoring-block span{
    padding: 5px 0;
}
.restoring-title{
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content:  center;
    width: 90%;
    height: 30%;
}
.restoring-title h3{
    color: #4b4b4b;
    text-align: center;
    font-weight: 600;
}
.restoring-title p{
    color: #4b4b4b;
    font-weight: 100;
    text-align: center;
}
.restoring-title a{
    color: #4275e3;
    cursor: pointer;
}
.restoring-description{
    border: 3px solid #FCEB41;
}
.restoring-block form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
.restoring-description p{
    padding: 10px;
    font-weight: 100;
    text-align: center;
}

//log-in END

@media (max-width:767px) {
    .right-side{
        display: flex;
        align-items: center;
        justify-content:center;
        position: absolute;
        top: 55px;
        width: 100%;
        height: 0px;
        background: rgb(52, 96, 213);
        transition: .2s ease-in-out;
    }
    .right-side .navigation{
        align-items: center;
        flex-direction: column;
        transform: rotateX(90deg) translateY(150px);
        transition: .2s ease-in-out;   
    }
    .right-side .nav-item{
        font-weight: 100;
        font-size: 15px;
        padding: 15px 0;
        text-align: center;
    }
    .right-side-active{
        height: 320px;
    }
    .right-side .navigation-active{
        display: flex;
        height: auto;
        transform: rotateX(0deg) translateY(0px);
    }
}

@media (min-width: 768px) {
    .hamburger{
        display: none;
    }

    .left-side .nav-item:nth-child(2){
        display: flex;
    }
    .wrapper-for-header-category,
    nav{
        width: 753px;
    }
    .category-block-header{
        width: 100%;
        margin: 0;
    }
    .category-item{
        width: 9%;
        padding: 4;
        margin: 3px;
    }
    .category-item div{
        width: 60px;
        height: 60px;
    }
    .category-item p{
        font-size: 11px;
    }
    .category-block-active{
        transform: translateY(0);
    }
    .log-in{
        width: 400px;
    }
}
@media (min-width: 1024px) {
    .wrapper-for-header-category,

    nav{
        width: 1009px;
    }
    .category-item{
        padding: 15px 0;
        width: 8%;
        margin: 7px;
    }
    .category-item p{
        font-size: 12px;
    }

}
@media (min-width: 1200px) {
    .wrapper-for-header-category,
    nav{
        width: 1185px;
    }
}