body{
    font-family: 'Open Sans', sans-serif;
}
//  HEADER NAVIGATION
nav{
    padding: 25px 0 0 0;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
nav a{
    display: flex;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
}
.navigation{
    display: flex;
}
.nav-item{
    box-sizing: content-box;
    font-size: 14px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10px;

}
.left-side .nav-item:nth-child(1){
    font-weight: 600;
}
.left-side .nav-item:nth-child(2) a{
    color: rgb(122, 165, 255);
}
.left-side .nav-item:nth-child(2){
    display: none;
}
.left-side .nav-item:nth-child(3) {
    width: 95px;
    height: 30px;
    font-weight: 100;
    background: linear-gradient(to left, #4275e3, #5885fa);
    border-radius: 4px;
    box-shadow: 0px 0px 25px -10px;
    transition: .1s ease-in-out;
}
.left-side .nav-item:nth-child(3) a img{
    padding: 0 5px  0 0;
}
.right-side .nav-item:nth-child(3) a img,
.right-side .nav-item:nth-child(4) a img{
    padding: 0 5px  0 0;
}
.left-side .nav-item:nth-child(3):hover{
    box-shadow: 0px 0px 25px -6px;

}
.left-side .nav-item:nth-child(2)::after,
.left-side .nav-item:nth-child(3)::after{
    content: '';
    position: relative;
    left: 7px;
    display: inline-block;
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    border-right: 1px solid rgb(122, 165, 255);
    border-bottom: 1px solid rgb(122, 165, 255);
    transition: .2s ease-in-out;
}
.after-active{
    transform: rotate(-135deg);
}

.sub-navigation{
    display: none;
    position: absolute;
    bottom: -30px;
}
.left-side .nav-item:hover .sub-navigation{
    display: block;
}


.hamburger{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    margin-right: 10px;
}
.hamburger-item{
    position: absolute;
    width: 24px;
    margin: 0 3px;
    height: 2px;
    background: #fff;
    box-shadow: 0px 0px 23px 0px;
    transition: .2s ease-in-out;
}
.hamburger-item:nth-child(1){
    top: 7px;
}
.hamburger-item:nth-child(2){
    top: 14px;
}
.hamburger-item:nth-child(3){
    top: 21px;
}
.hamburger-item-active:nth-child(1){
    top: 15px;
    transform: rotate(45deg);
}
.hamburger-item-active:nth-child(2){
    display: none;
}
.hamburger-item-active:nth-child(3){
    top: 15px;
    transform: rotate(-45deg);
}
.background{
    width: 100%;
    height: auto;
    position: relative;
    top: -55px;
}


@media (max-width:768px) {
    .right-side{
        display: flex;
        align-items: center;
        justify-content:center;
        position: absolute;
        top: 80px;
        width: 100%;
        height: 0px;
        background: rgb(52, 96, 213);
        transition: .2s ease-in-out;
    }
    .right-side .navigation{
        align-items: center;
        flex-direction: column;
        transform: rotateX(90deg) translateY(100px);
        transition: .2s ease-in-out;   
    }
    .right-side .nav-item{
        font-size: 16px;
        padding: 20px 0;
        text-align: center;
    }
    .right-side-active{
        height: 300px;
    }
    .right-side .navigation-active{
        display: flex;
        height: auto;
        transform: rotateX(0deg) translateY(0px);
    }
}

// SEARCH

.title-search{
    position: relative;
    height: 150px;
    background: rgb(50, 95, 218);
    top: -81px;
    text-align: center;
}
.thin{
    font-weight: 100;
    font-size: 24px;
}
.bold{
    font-weight: bolder;
    font-size: 24px;
}
.title-search h1{
    color: #fff;
}
.search{
    margin: 0 auto;
    position: relative;
    width: 300px;
    height: 50px;
}
.search input{
    position: relative;
    outline: none;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid gray;
    transition: .15s ease-in-out;
}
.search-img{
    position: absolute;
    top: 12px;
    right: 15px;
}

.title-search input:focus{
    box-shadow: 0px 0px 30px -3px;
}

// CATEGORY BLOCK

.category-block{
    position: absolute;
    margin: 0 auto;
    padding: 3px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    background: #fff;
    box-shadow: 0 0 15px -6px;
    border-radius: 3px;
    margin-left: 5%;
    z-index: 2;
    transform: translateY(-450%);
    transition: .3s ease-in-out;
}
.category-block-active{
    transform: translateY(-260px);
}
.category-item{
    position: relative;
    width: 20%;
    // height: 100px;
    padding: 10px;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 5px;
    background: transparent;
    transition: .1s ease-in-out;
}
.category-item:hover{
    background: linear-gradient(to left, #4275e3, #5885fa);
    box-shadow: 0 0 15px -3px;

}
.category-item:hover p{
    color: #fff;
}
.category-item div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}
.category-item img{
    width: 100%;
    max-width: 150px;
    height: auto;
}
// .category-item:nth-child(3) img{
//     width: 70%;
// }
// .category-item:nth-child(11) img{
//     width: 60%;
// }
.category-item a{
    text-align: center;
    text-decoration: none;
}
.category-item p{
    position: absolute;
    font-size: 10px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    padding-bottom: 5px;
    margin: 0;
    color: black;
}











@media (min-width: 768px) {
    .hamburger{
        display: none;
    }
    .nav-item{

    }
    .left-side .nav-item:nth-child(2){
        display: flex;
    }
    nav{
        width: 753px;
    }
    .title-search{
        background: none;
        top: -250px;
    }
    .search{
        width: 66%;
    }
    .wrapper{
        position: relative;
        margin: 0 auto;
        width: 753px;
    }
    .category-block{
        width: 100%;
        margin: 0;
    }
    .category-block-active{
        transform: translateY(-350px)
    }
    .category-item{
        width: 18%;
    }
    .category-item div{
        width: 60px;
        height: 60px;
    }
    .category-item p{
        font-size: 12px;
    }
}
@media (min-width: 1024px) {
    nav{
        width: 1009px;
    }
    .title-search{
        background: none;
        top: -330px;
    }
    .category-block-active{
        transform: translateY(-370px);
        padding: 30px 0;
    }
    .wrapper{
        margin: 0 auto;
        width: 1009px;
    }
    .category-item{
        width: 9%;
        padding: 15px 0;
    }
}
@media (min-width: 1200px) {
    nav{
        width: 1185px;
    }
    .title-search{
        background: none;
        top: -360px;
    }
    .wrapper{
        margin: 0 auto;
        width: 1185px;
    }
}