
h1{
    font-size: 27px;
    color: #4B4B4B;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0 0 0 10px;
}
.last-change{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}
.balance{
    height: 120px;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.06);
    border-radius: 2px;
}
.balance-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}
.balance-title{
    font-size: 15px;
    color: #4B4B4B;
}
.current-balance{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.wrapper-for-balance{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.upper{
    font-size: 28px;
    color: #4B4B4B;
}
.zeros{
    font-size: 16px;
    color: #4B4B4B;
}
.last-balance-change{
    display: flex;
    align-items: baseline;
    color: #ABABAB;
    font-size: 16px;
}
.balance-button{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}
.withdraw{
    font-size: 12px;
    color: #1751F8;
    text-decoration: underline;
    width: auto;
    outline: none;
}
.replenish{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #4B4B4B;
    width: 100px;
    height: 40px;
    background-image: linear-gradient(90deg, #FFF14B 0%, #F5DC26 100%, #F5DC26 100%);
    border-radius: 32px;
    outline: none;
}
.spent{
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.06);
    border-radius: 2px;
}
.spent-title{
    font-size: 15px;
    color: #4B4B4B;
}
.spent-main{
    display: flex;
    flex-wrap: wrap;
}
.spent-per-week,
.spent-per-month{
    margin-top: 15px;
}
.spent-per-week,
.spent-per-month{
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.orders{
    font-size: 15px;
    color: #ABABAB;
}
.amount-orders{
    font-size: 16px;
    color: #4B4B4B;
}
.balance-history{
    display: flex;
    flex-direction: column;
    margin: 70px 0;
    background: #FFFFFF;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.06);
    border-radius: 2px;
}

.balance-history-top{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}
.balance-history-top-left{
    display: flex;
    align-items: baseline;
    width: 250px;
    justify-content: space-between;
}
.balance-history-top .title{
    color: #4B4B4B;
    font-size: 15px;
}
.balance-history-button{
    text-align: left;
    position: relative;
    color: #527CE4;
    font-size: 14px;
    width: 60px;
    border: none;
    background: #fff;
    outline: none;
    cursor: pointer;
}
.arrow-span{
    position: absolute;
    right: 5px;
    top: 50%;
    width: 7px;
    height: 7px;
    transform: translateY(-80%) rotate(45deg);
    border: 1px solid #527CE4;
    border-left: none;
    border-top: none;
    transition: .15s ease-in-out;
}
.arrow-span-rotate{
    transform: translateY(-50%) rotate(-135deg);
}
.balance-history-top-right{
    display: flex;
    margin: 15px 0 0 0;
}

// кнопки календаря
#drp-buttons{
    display: flex !important;
    justify-content: center !important;
}
.drp-buttons .drp-selected{
    display: none;
}
.drp-buttons .cancelBtn{
    display: none;
}
.drp-buttons .applyBtn{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 20px; 
    background: #1751F8;
    color: #fff;
}
//


.balance-history-filter{
    display: none;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0 7px 20px 0 rgba(0,0,0,0.06);
    border-radius: 2px;
}
.balance-history-filter-active{
    display: flex;
}
.wrapper-for-input-dates{
    position: relative;
    width: 230px;
    height: 40px;
    border: 1px solid #EDEDED;
    overflow: hidden;
    box-sizing: border-box;
    margin: 10px 0;
    margin-right: 20px;
    cursor: pointer;
}
.wrapper-for-input-dates input{
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 13px;
    color: #4B4B4B;
    padding: 0 0 0 15px;
    outline: none;
    border: none;
    cursor: pointer;
}
.wrapper-for-input-dates img{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%)
}
.operation-type{
    position: relative;
    width: 230px;
    height: 40px;
    border: 1px solid #EDEDED;
    box-sizing: border-box;
    margin: 10px 0;
    cursor: pointer;
}
.span-arow{
    position: absolute;
    right: 15px;
    top: 50%;
    width: 7px;
    height: 7px;
    transform: translateY(-50%) rotate(45deg);
    border: 1px solid #ADADAD;
    border-left: none;
    border-top: none;
    transition: .15s ease-in-out;
}
.span-arow-rotate{
    transform: rotate(225deg);
}
.current-filter-type{
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0 0 0 15px;
    width: 80%;
    height: 100%;
    font-size: 14px;
    color: #ADADAD;
    box-sizing: border-box;
}
.filter-type{
    position: absolute;
    width: 100%;
    left: 0;
    top: 102%;
    font-size: 14px;
    color: #ADADAD;
    display: none;
    z-index: 5;
}
.filter-type-active{
    display: block;
}
.filter-type-item{
    width: 100%;
    height: 30px;
}
.filter-type-item{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 0 0 15px;
    background: #fff;
    border-bottom: 1px solid #f5f5f5;
    box-sizing: border-box;
    transition: .1s ease-in-out;
    &:hover{
        background: #f5f5f5;
    }
}
.list-balance-history{
    display: flex;
    flex-direction: column;
}
.list-balance-history-title{
    position: relative;
    display: flex;
    background: #FBFBFB;
    height: 50px;
    align-items: center;
    font-size: 14px;
    color: #ABABAB;
    padding: 20px;
    box-sizing: border-box;
}
.description{
    display: flex;
    align-items: center;
    width: 40%;
}
.detail-description{
    display: none;
    align-items: center;
}
.detail-description a{
    margin: 0 10px;
    color: #527CE4;
}
.detail-description-button{
    width: 34px;
    height: 34px;
    border-radius: 20px;
    background: #E6F2FE;
    display: flex;align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.bill{
    width: 15%;
    text-align: right;
}
.date{
    width: 23%;
    text-align: right;
}
.sum{
    width: 22%;
    text-align: center;
}
.list-balance-history-item{
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    box-sizing: border-box;
    border-bottom: 1px solid #F0F0F0;
    box-sizing: border-box;
    font-size: 14px;
    color: #4B4B4B;
    .bill{
        color: #ABABAB;
    }
    .add-money{
        color: #73CE48;
    }
    .withdrawal-money{
        color: #DC5B5B;
    }
}
.list-balance-history-item:last-child{
    border-bottom: none;
}
.number-card{
    color: #527CE4;
    display: none;
}




@media (min-width:768px) {
    .container{
        width: 768px;
        margin: 30px auto;
    }
    .last-change{
        flex-direction: row;
    }
    .upper{
        font-size: 24px;
    }
    .balance{
        width: 40%;
        max-width: 445px;
        margin-right: 10px;
    }
    .balance-history-top-right{
        width: 300px;
        justify-content: space-between;
    }
    .spent{
        width: 60%;
        margin-left: 10px;
    }
    .spent-per-week, .spent-per-month{
        width: 50%;
    }
    .spent-main{
        justify-content: space-between;
    }
    .detail-description{
        display: flex;
    }
    .bill{
        width: 30%;
    }
    .number-card{
        display: inline-block;
    }
    .date, .sum{
        width: 15%;
    }
    
}
@media (min-width: 1024px) {
    .container{
        width: 1024px;
    }
    .upper{
        font-size: 28px;
    }
    .spent-per-week,
    .spent-per-month{
        display: flex;
        align-items: baseline;
        width: 240px;
        justify-content: space-between;
    }
    .detail-description{
        margin-left: 30px;
    }
}
@media (min-width: 1200px) {
    .container{
        width: 1200px;
    }
}

















// Боковое меню start
.dotet{
    background: url('../img/dot.png') no-repeat center;
    outline: none;
    border: none;
    cursor: pointer;
}
.rihgt-side-hamburger,
.rihgt-side-hamburger-close{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
}
.rihgt-side-hamburger-close{
    position: absolute;
    top: 12px;
    left: -40px;
}
.rihgt-side-hamburger-item,
.rihgt-side-hamburger-item-close{
    position: absolute;
    width: 24px;
    margin: 0 3px;
    height: 2px;
    background: #fff;
    box-shadow: 0px 0px 23px 0px;
    transition: .2s ease-in-out;
}
.rihgt-side-hamburger-item:nth-child(1){
    top: 7px;
}
.rihgt-side-hamburger-item:nth-child(2){
    top: 14px;
}
.rihgt-side-hamburger-item:nth-child(3){
    top: 21px;
}
.rihgt-side-hamburger-item-close:nth-child(1){
    top: 15px;
    transform: rotate(45deg);
}
.rihgt-side-hamburger-item-close:nth-child(2){
    display: none;
}
.rihgt-side-hamburger-item-close:nth-child(3){
    top: 15px;
    transform: rotate(-45deg);
}

.right-side-nav{
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    background: #fff;
    z-index: 5;
    transform: translateX(150%);
    transition: .2s ease-in-out;
    .rihgt-side-hamburger{
        position: absolute;
        top: 13px;
        left: -40px;
    }
    .right-side-nav-header{
        position: relative;
        height: 55px;
        background: #4376E4;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img{
            width: 16px;
            height: 16px;
            position: absolute;
            left: 30px;
        }
        span{
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            position: absolute;
            left: 70px;
        }
    }
    .right-side-nav-user{
        position: relative;
        height: 55px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid #ECECEC;
        box-sizing: border-box;
        img{
            width: 34px;
            height: 34px;
            position: absolute;
            left: 20px;
        }
        span{
            font-size: 16px;
            color: #4B4B4B;
            position: absolute;
            left: 70px;
        }
    }
    .right-side-nav-chat,
    .right-side-nav-refunds{
        position: relative;
        height: 55px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid #ECECEC;
        box-sizing: border-box;
        img{
            width: 16px;
            height: 16px;
            position: absolute;
            left: 30px;
        }
        span{
            font-size: 14px;
            color: #55646C;
            position: absolute;
            left: 70px;
        }
        .message{
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 22px;
            height: 22px;
            border-radius: 20px;
            font-size: 10px;
            color: #fff;
            background: #FB7EA4;
            border: 1px solid #fff;
            position: absolute;
            left: 10px;
        }
    }
    .right-side-nav-main-link,
    .right-side-nav-settings{
        position: relative;
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid #ECECEC;
        box-sizing: border-box;
    }
    ul{
        position: relative;
        width: 100%;
        margin: 10px 0;
        li{
            width: 100%;
            height: 40px;
            a{
                display: flex;
                align-items: center;
                position: relative;
                width: 100%;
                height: 100%;
                transition: .1s ease-in-out;
                img{
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    left: 30px;
                }
                span{
                    font-size: 14px;
                    color: #55646C;
                    position: absolute;
                    left: 70px;
                }
                &:hover{
                    background: #E7F3FF;
                }
                &:hover span{
                    color: #527CE4;
                }
            }
        }
    }
}
.navigation{
    align-items: center;
}
.mobile-button-open-right-side{
    width: 20px;
    height: 20px;
    img{
        width: 100%;
    }
}
.right-side-nav-active{
    transform: translateX(0);
}
@media (max-width: 767px) {
    .rihgt-side-hamburger-item{
        display: none;
    }
    .right-side-active{
        height: 200px;
    }
}

@media (min-width: 768px) {
    .mobile-button-open-right-side{
        display: none;
    }
}
// end